ARMA3_SERVER__BINARY=./arma3server_x64
ARMA3_CDLC=
ARMA3_SERVER__CONFIG=main.cfg
ARMA3_SERVER__LIMIT_FPS=100
ARMA3_SERVER__PARAMS=
ARMA3_SERVER__PROFILE=main
ARMA3_SERVER__WORLD=empty
ARMA3_HEADLESS__CLIENTS=0
ARMA3_HEADLESS__PROFILE="\$profile-hc-\$i" # valid placeholders: $profile, $i, $ii
ARMA3_MODS__LOCAL=true
ARMA3_MODS__PRESET=
ARMA3_SERVER__PORT=2302
ARMA3_STEAM__BRANCH=public
ARMA3_STEAM__BRANCH_PASSWORD=
ARMA3_STEAM__PASSWORD=password
ARMA3_STEAM__USER=id-not-email
