name: Docker Image CI

on: [push, pull_request]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Build the Docker image
      run: docker build . --tag arma3server:$(date +%s)

  docker-compose:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Copy .env file
      run: cp .env.example .env
    - name: Build the Docker image
      run: docker-compose build
